.sec_main {
    background: url(img/main1.jpg) 100% 100% no-repeat #343a40;
    background-size: contain;
    background-position: center;    
    z-index: 1;
    position: relative;
}
.m-custom {
    margin-top: 700px;
    margin-bottom: 30px;
    color: white
}
.circle {
    background-color: blue;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-top: 20px;
}
.circle_inner {
    padding-top: 20%;
    margin-left: 20%;
    height: 60%;
    width: 60%;
}
.circle_section {
    position: fixed;
    top: 30vh;
    left: 50ch;
    z-index: 0;

}
.back_section {
    padding-bottom: 800px;
    background-color: #343a40;
}

footer {
    background-color: #343a40;
    padding-bottom: 20px;
    padding-left: 50%;
    color: cornsilk;
}