.sec_main {
    background: url(img/main1.jpg) 100% 100% no-repeat #343a40;
    background-size: contain;
    background-position: center;    
}
.m-custom {
    margin-top: 700px;
    margin-bottom: 30px;
    color: white
}
.circle {
    background-color: blue;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-top: 20px;
}
.circle_inner {
    padding-top: 20%;
    margin-left: 20%;
    height: 60%;
    width: 60%;
}